body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

/* Style inputs */
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* 响应式布局 */
@media screen and (max-width: 600px) {

    .column,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

a {

    color: #006600;

    text-decoration: none;

   }   

   a:hover {

    color: #990000;

   }   

   .top {

    margin: 5px auto;

    color: #990000;

    text-align: center;

   }   

   .info select {

    border: 1px #993300 solid;

    background: #FFFFFF;

   }   

   .info {

    margin: 5px;

    text-align: center;

   }   

   .info #show {

    color: #3399FF;

   }   

   .bottom {

    text-align: right;

    font-size: 12px;

    color: #CCCCCC;

    width: 1000px;

   }